body {
  color : #C7F464;
  font-family : 'Nixie One', cursive;
  background-color : #556270;
  font-size : 2.5em;
}

h1 {
  color : #4ECDC4;
  padding : 25px;
}

a {
  color : #FFFFFF;
}

a:hover {
  color: : #CCCCCC;
}

.map {
  float : left;
  background-color : #FF6B6B;
  border : solid #222222 1px;
  margin : 5px;
}
