body {
  color : #C7F464;
  font-family : 'Inconsolata', sans-serif;
  background-color : #556270;
  font-size : 22px;
}

h1 {
  color : #4ECDC4;
  padding : 25px;
}
h2{
}
p {
	color : #FFFFFF;
}
pre {
	color : #CCCCCC;
}
a {
  color : #FFFFFF;
}

a:hover {
  color: : #CCCCCC;
}
.map-container {
  font-size : 16px;
  border : solid 1px #666;
  margin : 20px;
  padding : 20px;
}
.map {
  background-color : #FF6B6B;
  border : solid #222222 1px;
  margin : 5px;
}
.map-location{
  padding: 20px;
}
